/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Teko', sans-serif; 
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background-color: #232323;
  color: #fff;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.container-wide {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}
.height-100 {
  height: 100%;
}
.none {
  display: none;
}
.top-panel {
  width: 100%;
  height: 78px;
  background-color: #262626;
  color: #f8f8f8;
}
.row-top-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-panel__notification {
  font-size: 11px;
  margin-right: 15px;
  font-weight: 500;
}
@media (mine-width: 780px) {
  .top-panel__notification {
    font-size: 12px;
  }
}
.top-panel__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-panel__link:not(:last-child) {
  margin-right: 28px;
}
.header {
  width: 100%;
  height: 454px;
  padding-top: 36px;
  background-color: #f3e1d5;
  background-image: url("../img/header-bg-1.jpg");
  background-size: cover;
  background-position: center;
}
@media (min-height: 880px) {
  .header {
    height: 800px;
  }
}
@media (min-width: 980px) {
  .header {
    height: calc(100vh - 78px);
  }
}
.header__nav-row {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 980px) {
  .header__nav-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 150px;
  }
}
.header__nav {
  display: none;
}
@media (min-width: 980px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #404040;
    font-family: "Teko";
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
  }
}
.header__nav-link {
  position: relative;
  color: #404040;
  text-decoration: none;
  margin-right: 52px;
}
.header__nav-link::after {
  position: absolute;
  right: -28px;
  top: 12px;
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  background-color: #004cff;
  /* отключает навигацию по ромбам */
  pointer-events: none;
  /* поворачивает ромбы на 45 градусов */
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__nav-link:last-child {
  margin-right: 0px;
}
.header__nav-link:last-child::after {
  display: none;
}
.header__nav-link:hover,
.header__nav-link--active {
  color: #004cff;
}
.header__button {
  display: none;
}
@media (min-width: 980px) {
  .header__button {
    display: inline-block;
    height: 66px;
    padding-top: 23px;
    padding-left: 38px;
    padding-right: 38px;
    /* padding: 23px 38px; */
    background-color: #004cff;
    color: #ffffff;
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-size: 23px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    text-decoration: none;
    -webkit-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
  }
}
.header__button:hover {
  background-color: #0a3fbb;
}
.header__promo {
  max-width: 400px;
}
.header__title {
  font-size: 42px;
  margin-bottom: 60px;
  color: #ffffff;
  font-family: "Teko";
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: 2.73px;
}
@media (min-width: 480px) {
  .header__title {
    font-size: 52px;
  }
}
@media (min-width: 980px) {
  .header__title {
    font-size: 68px;
  }
}
.header__promo-button {
  display: inline-block;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 14px;
  height: 61px;
  border: 6px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in, border-color 0.2s ease-in;
  transition: color 0.2s ease-in, border-color 0.2s ease-in;
}
.header__promo-button:hover {
  color: #ffd03b;
  border-color: #ffd03b;
}
@media (min-width: 980px) {
  .header__nav-button {
    display: none;
  }
}
.menu-icon-wrapper {
  /*   background-color: red; */
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #024cfb;
}
.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  background-color: #024cfb;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  background-color: #024cfb;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.menu-icon.menu-icon-active {
  background-color: transparent;
}
.menu-icon.menu-icon-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.menu-icon.menu-icon-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
/* .header {
    display: none;
} */
.top-info {
  padding-top: 44px;
  padding-bottom: 60px;
}
.top-info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 740px) {
  .top-info__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.products {
  padding-top: 60px;
}
.products__title {
  margin-bottom: 45px;
  color: #f1f1f1;
  font-family: "Teko", sans-serif;
  font-size: 53px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
}
.products__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #b2b2b2;
  padding-bottom: 45px;
  margin-bottom: 75px;
}
.products__filter-item {
  margin-right: 45px;
  color: #f1f1f1;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
  -webkit-transition: color ease 0.2s;
  transition: color ease 0.2s;
}
.products__filter-item:hover {
  color: #0077ff;
}
.products__filter-item:last-child {
  margin-right: 0;
}
.products__filter-item--active {
  color: #0077ff;
}
.products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-card {
  width: 30%;
  background-color: #fff;
  text-align: center;
  /* padding-top: 25px; */
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 60px;
}
.product-card__img {
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  color: #262626;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.1;
  /* margin-bottom: 25px; */
}
.product-card__price {
  color: #004cff;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.25;
}
.bottom-info {
  padding-top: 65px;
  padding-bottom: 44px;
}
.bottom-info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 740px) {
  .bottom-info__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.info {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 44px;
}
.info:last-child {
  margin-bottom: 0px;
}
@media (min-width: 740px) {
  .info {
    width: 37%;
    height: 400px;
  }
}
@media (min-width: 1350px) {
  .info {
    width: 420px;
    margin-right: 44px;
  }
}
.info:last-child {
  margin-right: 0;
}
.info--wide {
  width: 100%;
}
@media (min-width: 740px) {
  .info--wide {
    width: 61%;
  }
}
@media (min-width: 1350px) {
  .info--wide {
    width: 890px;
  }
}
.info--medium {
  width: 100%;
}
@media (min-width: 740px) {
  .info--medium {
    width: 38%;
  }
}
@media (min-width: 1350px) {
  .info--medium {
    width: 530px;
  }
}
.info--large {
  width: 100%;
}
@media (min-width: 740px) {
  .info--large {
    width: 60%;
  }
}
@media (min-width: 1350px) {
  .info--large {
    width: 777px;
  }
}
.info__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* свойство не позволяет сживаться и растягиваться картинке */
  -o-object-fit: cover;
     object-fit: cover;
  /* Чтобы картинка располагалась по центру */
  -o-object-position: center;
     object-position: center;
}
.info__content {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 76, 255, 0.75);
  font-family: "Teko", sans-serif;
  color: #ffffff;
  -webkit-transition: opacity ease-in 0.2s;
  transition: opacity ease-in 0.2s;
  text-decoration: none;
  padding: 30px;
}
@media (min-width: 740px) {
  .info__content {
    padding: 0;
  }
}
.info__content:hover {
  opacity: 1;
}
.info__content-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: 2.73px;
  margin-bottom: 30px;
  display: block;
}
@media (min-width: 480px) {
  .info__content-title {
    font-size: 44px;
  }
}
@media (min-width: 740px) {
  .info__content-title {
    position: absolute;
    top: 50px;
    left: 45px;
  }
}
@media (min-width: 1100px) {
  .info__content-title {
    width: 300px;
  }
}
.info--wide .info__content-title {
  font-size: 38px;
}
@media (min-width: 480px) {
  .info--wide .info__content-title {
    font-size: 68px;
  }
}
@media (min-width: 740px) {
  .info--wide .info__content-title {
    top: 40px;
    left: 45px;
  }
}
@media (min-width: 1100px) {
  .info--wide .info__content-title {
    top: 100px;
    left: 145px;
    width: 400px;
  }
}
.info__content-discount {
  width: 100px;
  font-size: 58px;
  font-weight: 700;
  line-height: 0.9;
  text-transform: uppercase;
}
@media (min-width: 740px) {
  .info__content-discount {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}
.info--wide .info__content-discount {
  font-size: 78px;
}
@media (min-width: 740px) {
  .info--wide .info__content-discount {
    right: 30px;
    bottom: 20px;
    width: 143px;
  }
}
@media (min-width: 1100px) {
  .info--wide .info__content-discount {
    right: 68px;
    bottom: 73px;
  }
}
.info__content-discount span {
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
.info--wide .info__content-discount span {
  font-size: 43px;
}
.subscribe {
  position: relative;
  height: 550px;
}
.subscribe__img {
  width: 100%;
  height: 100%;
  /* Делаем для того, чтобы картинка не растягивалась и центрировалась по центру */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.subscribe__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 76, 255, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* font-family: "Teko", sans-serif;
    color: #ffffff;
    transition: opacity ease-in 0.2s; */
}
.subscribe__title {
  margin-bottom: 80px;
  font-family: "Teko", sans-serif;
  color: #ffffff;
  font-size: 97px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
}
.subscribe__input {
  background-color: #fff;
  padding: 0;
  height: 62px;
  border: none;
  /* Чтобы input занимал всё свободное пространство */
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding-left: 44px;
  padding-right: 44px;
  color: #707070;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
}
.subscribe__button {
  width: 180px;
  height: 62px;
  background-color: #004cff;
  border: none;
  cursor: pointer;
  /* Чтобы кнопка submit не уменьшалась */
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: background-color ease 0.2s;
  transition: background-color ease 0.2s;
}
.subscribe__button:hover {
  background-color: #3471ff;
}
.section-service {
  padding-top: 104px;
  padding-bottom: 104px;
}
.section-service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 32%;
  padding: 35px 30px;
  border: 3px solid #707070;
  background-color: #fff;
  color: #000;
}
.service-block__description {
  width: 155px;
}
.service-block__title {
  margin: 0;
  margin-bottom: 10px;
  min-height: 36px;
  color: #262626;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.44;
}
.service-block__text {
  color: #707070;
  font-size: 11px;
  line-height: 1.5;
}
.gallery {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery__item {
  width: 33.33333%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.footer {
  padding-top: 120px;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__colum {
  max-width: 250px;
}
.footer__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}
.footer__text {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.7;
}
.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 19px;
  line-height: 1.5;
}
.footer-list__item {
  margin-bottom: 20px;
}
.footer__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.copyright {
  max-width: 1310px;
  margin-top: 66px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #b2b2b2;
  padding-top: 50px;
  padding-bottom: 60px;
  color: #b2b2b2;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.7;
}
.copyright__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.copyright__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.copyright__links-item {
  margin-right: 44px;
}
.copyright__links-item a {
  text-decoration: none;
  color: #b2b2b2;
}
.copyright__text {
  font-size: 19px;
  line-height: 1.7;
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social__item {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #004cff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-decoration: none;
  padding: 13px;
  /* text-align: center;
    vertical-align: middle;
    align-items: center;
    align-content: center; */
  padding: auto;
}
/*# sourceMappingURL=main.css.map */