/* .header {
    display: none;
} */
.top-info {
    padding-top: 44px;
    padding-bottom: 60px;
}
.top-info__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}
